body {
    background-image: url("resources/bg.jpg");
    background-position: top center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    padding: 50px;
    width: 80vw;
}
input, button {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    background: transparent;
    border: 1px solid black;
    padding: 10px;   
    border-radius: 2mm;
}
input {
    text-indent: 5px;
}
button {
    background-color: grey;
    margin: 5px;
}
li {
    font-size: 16px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: circle;
}
// .remove {
//     position: absolute;
//     right: 0;
// }
.container {
    // border: 1px solid black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}